body {
  margin: 0;
  padding: 0;
  background: black;
  font-family: 'Poppins', sans-serif;
}

.main--container {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.container {
  position: absolute;
  width: 75%;
  height: 33%;
  background: white;
  display: flex;
  flex-direction: column;
  justify-content: end;
  padding: 0.5rem;
  padding-top: 0;
}

.main {
  margin: 1rem;
}

.main--heading {
  font-weight: 600;
  font-size: 0.65rem;
  text-align: center;
  margin: 0;
}

.main--units {
  font-weight: 600;
  font-size: 3rem;
  color: #ff7300;
  margin: 0.5rem 0;
  text-align: center;
}

.main--content {
  font-weight: 400;
  font-size: 0.65rem;
  text-align: center;
  margin: 0;
}

.footer {
  display: flex;
  justify-content: space-between;
  padding: 0 0.5rem;
}

.footer--img {
  width: 70px;
  height: 17px;
}

.footer--title {
  font-weight: 600;
  font-size: 0.65rem;
  display: flex;
  align-items: center;
}
