body {
  margin: 0;
  padding: 0;
  background: black;
  font-family: "Poppins", sans-serif;
}

.main--container {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.container {
  position: absolute;
  width: 59%;
  height: 61%;
  background: white;
  display: flex;
  flex-direction: column;
  justify-content: end;
  padding: 0.5rem;
  padding-top: 0rem;
}

.main {
  margin: 1rem;
  margin-bottom: 2.75rem;
}

.main--heading {
  font-weight: 600;
  font-size: 1.75rem;
  text-align: center;
  margin: 0 1rem;
}

.main--units {
  font-weight: 600;
  font-size: 12rem;
  color: #ff7300;
  margin: 0rem;
  text-align: center;
  line-height: 158%;
}

.main--content {
  font-weight: 400;
  font-size: 1.5rem;
  text-align: center;
  margin: 0;
}

.footer {
  display: flex;
  justify-content: space-between;
  padding: 0 1.5rem 1rem 1.65rem;
}

.footer--img {
  width: 167px;
  height: 42px;
}

.footer--title {
  font-weight: 600;
  font-size: 1.35rem;
  display: flex;
  align-items: center;
}
